
/*  1.0 Normolise default styling across all browsers. Only used nescessary styles. Taken and adopted from modern-normolised.css https://github.com/sindresorhus/modern-normalize/blob/main/modern-normalize.css and HTML 5 boilerplate https://github.com/h5bp/main.css/blob/main/src/_base.css */
*,
::before,
::after {
	box-sizing: border-box; /* Use a better box model (opinionated). */
}
html {
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
}
body {
	margin: 0; /* Remove the margin in all browsers. */
}
b, strong {
	font-weight: bolder;
}
/* Add the correct font size in all browsers. */
small {
	font-size: 80%;
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari. 
*/
button, input, optgroup, select, textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
/* Remove the inheritance of text transform in Edge and Firefox. */
button, select {
	text-transform: none;
}
/* Correct the inability to style clickable types in iOS and Safari. */
button, [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
}
/* Remove default fieldset, blockquote & figure styles. */
fieldset, figure, blockquote {
 	border: 0;
	margin: 0;
	padding: 0;
}
/* Remove the inner border and padding in Firefox. */
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/* Restore the focus styles unset by the previous rule. */
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/* Allow only vertical resizing of textareas. */
textarea {
	resize: vertical;
}
/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
 audio,canvas, iframe, img, svg, video {
    vertical-align: middle;
 }

 /* TYPOGRAPHY with 8px grid system*/

 /* Defining baseline values */
html {
    font-size: 16px;
    line-height: 24px;
 }

 body, p, h1, h2, h3, h4, h5 {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
  }

  h1, .h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.05882353em; /* 72px */
	margin-top: 0.35294118em;
	margin-bottom: 0.70588236em;
  }
  h2, .h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.14285714em;  /* 48px */
	margin-top: 0.57142857em;
	margin-bottom: 0.57142857em;
  }
  h3, .h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1.84615385em; /* 48px */
	margin-top: 0.92307692em;
	margin-bottom: 0em;
  }
  h4, .h4 {
	font-size: 1em; 
	line-height: 1.5em; 
	margin-top: 1.5em;
	margin-bottom: 0em;
  }
  h5 {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0em;
  }


/*

  GLOBALS

*/
/*
 * Hide visually and from screen readers
 */

 .hidden,[hidden] {
	display: none !important;
 }

.visually-hidden {
	position: absolute;
    left: -100vw;
}

.full-width {
	width:100%;
}
.boxed-width {
	max-width:1024px;
}
.full-width, .boxed-width {

	margin-right: auto;
	margin-left: auto;
}

/*   Colours   */
:root {
	--brand-transparent-black: oklch(0% 0 0 / 60%);
	--brand-transparent-less-black: oklch(0% 0 0 / 80%);
	--mobile-nav-deviders: oklch(100% 0 0 / 50%);
	--brand-red: oklch(53.58% 0.177 18.34);
	--brand-blue: oklch(51.24% 0.223 267.27);
	--brand-blueHSL: hsl(228.64 77% 54%);
	--brand-gray: oklch(33.69% 0.019 251.46);

	& .brand-blue {
		background-color: var(--brand-blue);
	}
}


/* UI Elements */
button, .button {
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	color: white;
	font-size: 18px;
	border-radius: 24px;
	font-weight: 400;

}

button:hover, .button:hover {
	box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	background: hsl( from var(--brand-blueHSL) h calc(s + 20%) l);

}
button:active, .button:active {
	transform: translateY(1px);
	box-shadow: none;
}

/*////

   LAYOUT 
   General layout sctructure

*/

/* Header and Navigation */

header { 
    height: 64px;
	max-width: 1024px;
	margin: 8px auto 24px;
	padding: 0 16px;
    background-color: var(--brand-transparent-black);
	border-radius: 4px;
	position: sticky;
	top:0;
	transition: top 900ms linear;
	z-index: 999;

    /* Top navigation*/
    & nav, ul {
        display: flex;
		justify-content: space-between;
		align-items: center;
    }

	/* header logo */
	& .logo {
		display: inline-block;
		width: 175px;
		align-self: left;
		text-decoration: none;
		color: white;
	
	}
	& .logo img {
		width: 100%;
	
	}

	/* Styling menu */
    & li {
        margin: 0 4px;
        list-style: none;
    }
	& li a {
        color: white;
		text-decoration: none;
		padding: 8px;

	}


}

/*  
	5.3 - MOBILE NAVIGATION

    Employing css magic for collapsable mobile menu 
*/

/* Hiding toggle chekbox */
nav input[type='checkbox'], nav label {
	display: none;
}

@media (max-width: 576px) {
	
	/* Stlying the menu icon, the checkbox stays hidden */
	nav label {
		text-align: right;
		display: block;
		padding: 0.5em;
		line-height: 1.6em;
		align-self: center;
		cursor: pointer;
	
	
		& span.hamburger-line {
			display: block;
		}
	}

	header {
		padding:0;
		margin:0;
		position: relative;
		background-color: var(--brand-transparent-less-black);
	}

	.logo {
		margin-left:16px;
	}
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    /* Because we are in mobile mode, we want to display it as a
       vertical list */
    nav ul {
        display: block;
        width: 100%;
        flex-basis: 100%;
		margin-block: 10px;
		padding-inline-start: 0;
		border-block-start: 1px solid var(--mobile-nav-deviders);
		background-color: var(--brand-transparent-less-black);;
		
		
		& li {
        	margin-bottom: 0;
        	width: 100%;
        	text-align: right;
        	padding: 0.5em;

			& a {
				padding: 16px;
				inline-size: 100%;
				display: inline-block;
				font-size: 1.1em;
			}
		}
		
		& > *:not(:last-child) {
			border-bottom:1px solid var(--mobile-nav-deviders);
		}
    }
	

	input[type='checkbox']:not(:checked)+ul {
		display: none;
	}


	/* Designing CSS-only hamburger icon */

.hamburger-line {
	width: 32px;
	height: 2px;
	background-color: white;
	margin: 8px 0;
	transition: 0.4s;
  }

  /* #toggle:checked label .hamburger-line:first-child, .hamburger-line:first-child:hover	 {
	transform: translate(0, 11px) rotate(-45deg);
	background-color: red;
  } */

}



#hero-banner {

	height: 800px;
	width: 100%;
	margin-top:-95px;
	padding-top: 95px;
	background: #f23586 url(../images/hero-banner-bg.svg) no-repeat center center / cover ;
	z-index: 1; /* to make sure it's behind of all page elements. */
	/* I'd have added svg bg to the body and pushed it top center,
	   however I needed to be able to create a slanted bottom of the hero-banner 
	   and you need a box for that */

	/* slanted bottom of hero banner */
	clip-path: polygon( 
		0 0,
		100% 0,
		100% calc(100% - 10vw),
		0 100%
		);

	& .hero-banner-content {
		background: url(../images/hero-banner-image.svg) no-repeat left top / 625px;

		overflow: hidden;
		height: 650px;


		& .hero-banner-usp-message {
			max-width: 500px;
			text-align: right;
			float: right;
			color: white;

			& h1 {

			}
			& p {
				font-size: 19px;
				font-weight: 200;
				line-height: 1.7em;
				padding-inline-start: 81px;

			}
		}
	} 
	
}

@media (max-width: 576px) { 

	.hero-banner-content {
		background-image: none !important;
		max-width: 100%;
		float: none;
		padding: 64px 24px 0;
	}

}

/*  CONTENT SECTIONS */

main section {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
}
main section p {
	max-width: 60%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 24px;
}

.feature-list-container, #testimonials div {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	width: 100%;
	padding: 0.5rem;
	margin: 0 auto;
	text-align: center;;


    & div {
        height: auto;
		margin-top: 24px;;
    }

	& div h3 {
		margin-bottom: 24px;
    }
}

main .container-background {

	background-image: linear-gradient(to right bottom, #0037aa, #062a94, #071d7e, #041169, #000555);
	color: white;
}

@media (max-width: 576px) { 

.feature-list-container, #testimonials div {
    grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 500px) { 

	.feature-list-container, #testimonials div {
		grid-template-columns: repeat(1, 1fr);
	}
	
}


/* TESTIMONIALS */

#testimonials {

	& h2 {
		display: inline-block;
		width:700px;
	}

	& figure {




		& img {
			border-radius: 50%;
		}

	}

}

/* ALL THINGS FOOTER */
footer {

	border-top: 1px solid grey;
	height: 64px;
	width: 1024px;
	margin:24px auto;

    & p {
        text-align: center;
    }
}

/* * {
    outline: 1px solid red;
  } */