
/*  1.0 Normolise default styling across all browsers. Only used nescessary styles. Taken and adopted from modern-normolised.css https://github.com/sindresorhus/modern-normalize/blob/main/modern-normalize.css and HTML 5 boilerplate https://github.com/h5bp/main.css/blob/main/src/_base.css */
*,
::before,
::after {
	box-sizing: border-box; /* Use a better box model (opinionated). */
}
html {
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
}
body {
	margin: 0; /* Remove the margin in all browsers. */
}
b, strong {
	font-weight: bolder;
}
/* Add the correct font size in all browsers. */
small {
	font-size: 80%;
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari. 
*/
button, input, optgroup, select, textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
/* Remove the inheritance of text transform in Edge and Firefox. */
button, select {
	text-transform: none;
}
/* Correct the inability to style clickable types in iOS and Safari. */
button, .button [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
}
/* Remove default fieldset, blockquote & figure styles. */
fieldset, figure, blockquote {
 	border: 0;
	margin: 0;
	padding: 0;
}
/* Remove the inner border and padding in Firefox. */
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/* Restore the focus styles unset by the previous rule. */
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/* Allow only vertical resizing of textareas. */
textarea {
	resize: vertical;
}
/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
 audio,canvas, iframe, img, svg, video {
    vertical-align: middle;
 }

 /* TYPOGRAPHY with 8px grid system*/

 /* Defining baseline values */
html {
    font-size: 16px;
    line-height: 24px;
 }

 body, p, h1, h2, h3, h4, h5 {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
  }

  h1, .h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.05882353em; /* 72px */
	margin-top: 0.35294118em;
	margin-bottom: 0.70588236em;
  }
  h2, .h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.14285714em;  /* 48px */
	margin-top: 0.57142857em;
	margin-bottom: 0.57142857em;
  }
  h3, .h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1.84615385em; /* 48px */
	margin-top: 0.92307692em;
	margin-bottom: 0;
  }
  h4, .h4 {
	font-size: 1em; 
	line-height: 1.5em; 
	margin-top: 1.5em;
	margin-bottom: 0;
  }
  h5 {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0;
  }





/* GLOBAL VARIABLES */

:root {
	
	/*   COLOUR Variables 
	 *   In LCH encoding to have access to the LAB colour spectrum and be able to manipulate colour variations better 
	 */
	
	--brand-black: oklch(10% 0.0593 267.27);
	--brand-transparent-black: oklch(10% 0.0593 267.27 / 60%);
	--brand-transparent-less-black: oklch(10% 0.0593 267.27 / 80%);
	--mobile-nav-deviders: oklch(100% 0 0 / 50%);
	--brand-red: oklch(53.58% 0.177 18.34);
	--brand-pink: oklch(64.4% 0.229 0.64);
	--brand-blue: oklch(51.24% 0.223 267.27);
	--brand-blueLight: oklch(92.35% 0.031 275.31);
	--brand-transaparent-blue: oklch( from var(--brand-blue) l c h  / 0.1);
	--brand-blueHSL: hsl(228.64 77% 54%);
	--brand-gray: oklch(33.69% 0.019 251.46);

	/* Gradients */
	--brand-cta-gradient: linear-gradient(144deg, var(--brand-blue) 0%, oklch(50.42% 0.188 308.56) 30%, var(--brand-pink) 70%, oklch(81.19% 0.148 71.76) 100%);
	--brand-heading-gradient: linear-gradient(144deg, var(--brand-pink) 0%, var(--brand-red) 50%, oklch(81.19% 0.148 71.76) 100%);
	--brand-heading-gradient-2: linear-gradient(144deg, var(--brand-pink) 0%, oklch(80.42% 0.188 308.56) 50%, oklch(81.19% 0.148 71.76) 100%);



	/* Box dimensions */	
	--brand-border-radius: .4rem; /* in rems to make sure they scale nicely with font size increse */
	--site-max-width:1104px;


	& .brand-blue {
		background-color: var(--brand-blue);
	}


}

/*

  GLOBALS

*/
/*
 * Hide visually and from screen readers
 */
 .hidden,[hidden] {
	display: none !important;
 }

.visually-hidden {
	position: absolute;
    left: -100vw;
}

.full-width {
	width:100%;
}
.boxed-width {
	max-width:var(--site-max-width);
}
.full-width, .boxed-width {

	margin-inline: auto;
}

@media (max-width: 576px) {

	.boxed-width {

		padding-inline: 24px;
		width: 100%;
	}

	/* .boxed-width:not(#more-features.full-width) {

		margin-inline: 16px;
	} */

}
/* Nice smooth fade in transition on loading and page section pointing with id anchor links */
.fade-in-effect, 
#features:target,
#more-features:target,
#testimonials:target { animation: fadeIn 1s; }

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }


/* UI Elements */
button, .button {

	cursor: pointer;
	display: inline-block;
	position: relative;

	padding: 1em 2em;
	vertical-align: middle;
	border: 0;
	border-radius: var(--brand-border-radius);

	background-color: var(--brand-blue);
	transition: transform .1s ease 0s,padding .1s ease 0s, background-color .1s ease 0s,color .1s ease 0s;

	font-size: 1.3em;
	font-weight: 400;
	text-decoration: none;
	color: white;
	word-break: keep-all;
	letter-spacing: .02rem;

}

button:hover, .button:hover {
	box-shadow: 0 7px 14px oklch(33.96% 0.074 281.7 / 10%), 0 3px 6px oklch(0% 0 0 / 8%);
	background-color: hsl( from var(--brand-blueHSL) h calc(s + 20%) l);

}
button:active, .button:active {
	transform: translateY(1px);
	box-shadow: none;
}

/*////

   LAYOUT 
   General layout sctructure

*/

html { /* to make scrolling smoother */
	scroll-behavior: smooth !important; 
 }

body {
	background-color: oklch(97% 0 0);
}

/* Header and Navigation */

header { 
    
	max-width: var(--site-max-width);
	margin: 8px auto 24px;
	padding: 0 16px;
    background-color: var(--brand-transparent-black);
	border-radius: var(--brand-border-radius);
	position: sticky;
	top:0;
	transition: top 900ms linear;
	z-index: 999;

    /* Top navigation*/
    & nav, ul {
        display: flex;
		justify-content: space-between;
		align-items: center;
    }

	/* header logo */
	& .logo {
		display: inline-block;
		width: 175px;
		align-self: left;
		text-decoration: none;
		color: white;
	
	}
	& .logo img {
		width: 100%;
	
	}

	/* Styling menu */
    & li {
        margin: 4px;
        list-style: none;
    }
	& li a {
        color: white;
		text-decoration: none;
		padding: 8px 16px;

		transition: background-color 0.5s ease-in-out;

	}

	& li a:hover, li a:active {
		background-color: var(--brand-blue);
		border-radius: var(--brand-border-radius);
		}


}

/*  
	5.3 - MOBILE NAVIGATION

    Employing css magic for collapsable mobile menu 
*/

/* Hiding toggle chekbox */
nav input[type='checkbox'], nav label {
	display: none;
}


@media (max-width: 576px) {
	
	/* Stlying the menu icon, the checkbox stays hidden */
	nav label {
		text-align: right;
		display: block;
		padding: 0.5em;
		line-height: 1.6em;
		align-self: center;
		cursor: pointer;
	
	
		& span.hamburger-line {
			display: block;
		}
	}

	header {
		padding:0;
		margin:0;
		position: sticky;
		background-color: var(--brand-transparent-less-black);
		border-radius: 0;
	}

	.logo {
		margin-left:16px;
		cursor: pointer;
	}
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    /* Because we are in mobile mode, we want to display it as a
       vertical list */
    nav ul {
        display: block;
        width: 100%;
        flex-basis: 100%;
		margin-block: 10px;
		padding-inline-start: 0;
		border-block-start: 1px solid var(--mobile-nav-deviders);
		background-color: var(--brand-transparent-less-black);;
		
		
		& li {
        	margin-bottom: 0;
        	width: 100%;
        	text-align: right;
        	padding: 0.5em;

			& a {
				padding: 16px;
				inline-size: 100%;
				display: inline-block;
				font-size: 1.1em;

				&:hover {
					background-color: transparent;
				}
			}
		}
		
		& > *:not(:last-child) {
			border-bottom:1px solid var(--mobile-nav-deviders);
		}
    }
	

	input[type='checkbox']:not(:checked)+ul {
		display: none;
	}


/* Designing CSS-only hamburger icon */

.hamburger-line {
	width: 32px;
	height: 2px;
	background-color: white;
	margin: 8px 0;
	transition: 0.4s;
  }

  /* #menu-toggle:checked +label .hamburger-line:nth-child(1), .hamburger-line:nth-child(1):hover	 {
	transform: translate(0, 11px) rotate(-45deg);
	background-color: red;
  } */

}



#hero-banner {

	height: 800px;
	width: 100%;
	margin-top:-95px;
	padding-top: 95px;
	background: var(--brand-pink) url(../images/hero-banner-bg.svg) no-repeat center center / cover ;
	z-index: 1; /* to make sure it's behind of all page elements. */
	/* I'd have added svg bg to the body and pushed it top center,
	   however I needed to be able to create a slanted bottom of the hero-banner 
	   and you need a box for that */

	/* slanted bottom of hero banner */
	clip-path: polygon( 
		0 0,
		100% 0,
		100% calc(100% - 10vw),
		0 100%
		);

	& .hero-banner-content {
		background: url(../images/hero-banner-image.svg) no-repeat left top / 625px;

		overflow: hidden;
		height: 650px;
		position: relative;


		& .hero-banner-usp-message {
			position: absolute;
			right: 0;
			max-width: 500px;
			text-align: right;
			color: white;

			& p {
				font-size: 19px;
				font-weight: 200;
				line-height: 1.7em;
				padding-inline-start: 81px;

			}
		}
	} 
	
}

@media (max-width: 576px) { 

	.hero-banner-content {
		background-image: none !important;
		max-width: 100%;
		padding: 64px 24px 0;

		& .hero-banner-usp-message {

			max-width: 100%;
			position: relative !important;


			& h1 {
				font-size: 3.25em;
			}

			& p {
				padding-inline-start: 0 !important;
			}
		}
	}

}

#header-container {

	background-color: var(--brand-blue);
	margin-top:-95px;
	padding-top: 95px;

	& #header-title {
		text-align: center;
		padding: 4rem 4rem 5rem;
		color: white;

	}

}
@media (max-width: 576px) {
	#header-container {

		& #header-title {
			padding-inline: 0;

			& h1 {
				line-height: 1.3em;
			}
			& p {
				line-height: 1.5em;
			}
		}
	}

}

/*  CONTENT SECTIONS */

main section {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
}

main section p {
	margin: 0 auto;
	font-size: 2em;
	line-height: 2em;
}

@media (max-width: 576px) { 

	
	main section p {
		line-height: 1.6em;
	}
}

.section-heading {

	& h2 {
		font-size: 4.5em;
		font-weight: 600;
		text-align: center;

		
		background-image: var(--brand-heading-gradient);
   		color: transparent;
   		background-clip: text;
   		-webkit-background-clip: text;
		
		
	}
}
#more-features .section-heading h2 {
	background-image: var(--brand-heading-gradient-2);
}


.feature-list-container, #testimonials div {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	width: 100%;
	padding: 0.5rem;
	margin: 64px auto;
	text-align: initial;


    & div {
        height: auto;
		margin-top: 24px;;
    }

	& div i.features-icon {
		width: 56px;
		height: 56px;
		display: block;
		margin: 0 auto;
	}

	& div h3 {
		font-weight: 500;
		margin-bottom: 24px;
		text-align: center;
		line-height: 1.35em;
    }
}

@media (max-width: 576px) { 
	.feature-list-container:not(#more-features), #testimonials div {
		grid-template-columns: repeat(1, 1fr);
		padding-inline:0;
		
	}

	#more-features div div {
		padding-inline: 24px;
	}

}

/* Styling feature icons with sprite */
.features-icon {
	background: url(/images/icons/feature-icons-sprite.png) no-repeat top left;
}

.icon-designed-from-groundup {
    background-position: 0 0;
}
.icon-page-load {
    background-position: -56px 0;
}
.icon-always-updated {
    background-position: -112px 0;
}
.icon-any-size {
    background-position: -168px 0;
}
.icon-reports {
    background-position: -224px 0;
}
.icon-resources {
    background-position: -280px 0;
}
.icon-cloud-infrastructure {
    background-position: -336px 0;
}
.icon-tech-stach-upgrade {
    background-position: -392px 0;
}
.icon-demo-sites {
    background-position: -448px 0;
}
.icon-site-cashing {
    background-position: -504px 0;
}
.icon-firewall {
    background-position: -560px 0;
}
.icon-dns-cdn {
    background-position: -616px 0;
}
    
/* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .features-icon {
        background: url('icons-retina.png') no-repeat top left;
        background-size: 672px 56px;
    }
} */



main .container-background {

	background-image: linear-gradient(to right bottom, #0037aa, #062a94, #071d7e, #041169, #000555);
	color: white;
}

@media (max-width: 576px) { 

.feature-list-container, #testimonials div {
    grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 500px) { 

	.feature-list-container, #testimonials div {
		grid-template-columns: repeat(1, 1fr);
	}
	
}


/* TESTIMONIALS */

#testimonials {

	& .section-heading {
		display: block;
	}

	& h2 {
		background-image: var(--brand-cta-gradient);
	}

	& figure {	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		background: var(--brand-blueLight);
		padding: 24px;
		margin-top:72px;
		border-radius: var(--brand-border-radius);


		& img {
			border-radius: 50%;
			outline: 8px solid var(--brand-blueLight);
			width: 112px;
			margin-top: -56px;
		}

		& blockquote {
			margin: 24px 0;
		}

		& figcaption, figcaption a  {
			color:var(--brand-blue);
			align-self: flex-start;
		}

	}

}

@media (max-width: 576px) { 

	#testimonials {
		
		& h2 { 
			font-size: 3.5em;
		}
	}
}

/* Call To Action */

.cta-inline-block {

	display: table;
	border-radius: var(--brand-border-radius);
	background: rgb(131,58,180);
	background: var(--brand-cta-gradient);


	& div {
		display: table-cell;
		vertical-align: middle;
	}

	.cta-text {
		width: 70%;
		color: white;
	}
	.cta-button {
		width: 30%;
	}

}
@media (max-width: 576px) { 
	.cta-inline-block {

		border-radius:0;

		& div {
			display: block;
			padding: 16px;
		}

		.cta-text {
			width: 100%;
		}

		.cta-text h3{
			font-size: 1.7em;
			margin-bottom: 24px;
		}
		.cta-button {
			width: 100%;
		}
	}
	.cta-inline-block.boxed-width {
		margin-inline: 0 !important;
	}
}



/* CONTACT FORM */

#contact-form {

	& .card-container {

		width: 50%;
		margin: 0 auto;
		padding: 24px;

		background-color: var(--brand-blueLight);

		border-radius: var(--brand-border-radius);
		box-shadow: 0 0 6px -3px #e7e7e7;


		& input {
			-webkit-appearance: none;
			transition: box-shadow .1s;
			outline: none;
			border: 0;
			border-radius: var(--brand-border-radius);
			box-shadow: inset 0 0 0 1px #e7e7e7;
			background: white;
			padding: 2rem;
			margin: .6rem 0;
			width: 100%;
			color: var(--brand-black);
			font-size: 1.4rem;
			font-weight: 300;
		}
		button {
			margin-top: 24px;
		}
	}
}

@media (max-width: 576px) {

	#contact-form.boxed-width {
		padding-inline: 4px;
	}

	#contact-form {

		& .card-container {
			width: 100%;
			padding: 1rem;

			& input {
				padding: 1rem;
			}
		}

		
	}
}

/* ALL THINGS FOOTER */
footer {

	border-top: 1px solid grey;
	height: 64px;
	margin:24px auto;

    & p {
        text-align: center;
    }

	& nav, ul {
        display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			margin: 0 4px;
			list-style: none;
		}

		& li a {
			color: inherit;
			text-decoration: none;
			padding: 8px;
	
		}
    }
}



@media (max-width: 576px) {
	footer nav {

		display: block;

		& .copyright p {
			text-align: center;
		}

		& .footer-nav {
			display: none;
		}
	}
}
